.scatterplotDivContainer {
    width: 100%;
    height: 100%; /* Or any size that fits your layout */
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
}

.brush rect {
    fill: none;
    pointer-events: all;
    stroke: #000;
    stroke-width: 1.5px;
}

.brush .selection {
    fill: none;    /* Light blue fill */
    stroke: rgb(0, 0, 0);  /* Single, solid blue border */
    stroke-width: 2px;             /* Single line border */
}

/* Style the handles (resize corners) */
.brush .handle {
    stroke: none;                  /* Remove any stroke from the handles */
    fill: none;    /* Blue color for handles */
}
